* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial, sans-serif;
    margin: 2px;
    padding: 2px;
}

#top-menu-container {
    margin-top: 14px;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

#connexion {
    background-color: #4285f4;
    color: #fff;
    border: solid #4285f4;
    border-radius: 3px;
    padding: 3px 12px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#top-menu {
    list-style-type: none;
    font-size: 14px;
}

#top-menu li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

#top-menu li:hover {
    text-decoration: underline;
}

#main-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 180px;
}

#search-bar-container {
    margin: 20px;
    width: 100%;
    text-align: center;
}

#search-box {
    width: 500px;
    border-radius: 20px;
    border: 1px solid #eef1f1;
    line-height: 2.8;
    font-size: 16px;
    padding-left: 18px;
    box-shadow: 2px 2px #f4f4f4;
}

.search-button {
    box-sizing: border-box;
    margin: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    color: #5f6367;
    background-color: #f4f4f4;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 15px;

}

.search-button:hover {
    border: 2px solid #b9bdc2;
    color: black;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 13px;
    color: #5F6368;
}

footer p {
    color: #6F6F6F;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border: 2px solid #EDEDED;
    border-left: 0px;
}

#bottom-left {
    list-style-type: none;
    float: left;
    font-size: 13px;
    padding: 15px;
}

#bottom-left li {
    display: block;
    margin-right: 20px;
    float: left;
    cursor: pointer;
}

#bottom-left li:hover {
    text-decoration: underline;
}

#bottom-right {
    list-style-type: none;
    float: right;
    font-size: 13px;
    padding: 15px;
}

#bottom-right li {
    float: left;
    display: block;
    margin-right: 20px;
    cursor: pointer;
}

#bottom-right li:hover {
    text-decoration: underline;
}
